# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
.vscode/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# System files
.DS_Store
Thumbs.db
CrashLog.txt
CrashLog_Server.txt
out.txt
